@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-background: #1f2937;
    --action: #3882F6;
    --header-text: #F9FAF8;
    --main-text: #1F2937;
    --link-quote-background: #E5E7EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
}

.logo {
    margin-left: 30px;
    margin-top: 20px;
}

.logo, .navbar ul {
    position: fixed;
}

.navbar ul {
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 50px;
    z-index: 1000;
    mix-blend-mode: difference;
}

.navbar li {
    display: inline;
    margin: 20px;
}

.navbar a {
    text-decoration: none;
    color: var(--link-quote-background);
}

.navbar a:hover {
    color: darkgray;
}

.container.sub-header {
    width: 100%;
    height: 500px;
    background-color: var(--dark-background);
    color: var(--header-text);
}

.header-img {
    width: 600px;
}

.header-text {
    padding-top: 4%;
}

.sub-header h1 {
    font-size: 48px;
    font-weight: 900;
}

.sub-header .description {
    color: var(--link-quote-background);
    font-size: 18px;
    margin-top: 20px;
}

.header-text {
    float: left;
    text-align: center;
    margin-top: 100px;
    margin-left: 200px;
}

.image-paragraph {
    float: right;
    text-align: center;
    margin-right: 300px;
    margin-top: 100px;
}

.reference {
    font-size: 12px;
    font-style: italic;
}

.reference a {
    text-decoration: none;
    color: darkgray;
}

.reference a:hover {
    color: rgb(77, 77, 77);
}

.container.info {
    color: var(--main-text);
}

.container.info h2 {
    margin-top: 50px;
    font-size: 36px;
    font-weight: 900;
}

.container.info h2, .main-info {
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.main-info {
    margin-top: 10px;
}

.image img{
    width: 75%;
    border-radius: 20px;
    border: 5px solid var(--action);
}

.container.images {
    display: flex;
}

.container.image {
    flex: 20%;
    float: center;
    text-align: center;
}

.image-p {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.info-p {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.container.testimonial {
    width: 100%;
    height: 500px;
    padding-top: 10px;
    background-color: var(--link-quote-background);
}

.testimonial-paragraph {
    width: 1000px;
    text-align: center;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: var(--main-text);
}

.author {
    float: right;
    margin-right: 700px;
    font-size: 25px;
}

.container.sign-up {
    width: 100%;
    height: 200px;
    color: var(--header-text);
}

.container.call-action {
    width: 65%;
    height: 150px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--action);
    border-radius: 20px;
}

.container.call-action button {
    position: relative;
    width: 125px;
    height: 40px;
    background-color: var(--action);
    color: var(--header-text);
    border: 2px solid var(--header-text);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    float: right;
    right: 200px;
    bottom: 40px;
}

.container.call-action button:hover {
    background-color: var(--header-text);
    color: var(--action);
}

.call-action h4, .call-action p {
    width: 50%;
    margin-left: 100px;
    

}

.call-action h4 {
    font-size: 36px;
    font-weight: 900;
    padding-top: 40px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: var(--dark-background);
    color: var(--header-text);
    text-align: center;
    padding-top: 40px;
}
